body {
    color: rgb(0, 0, 0);
    background: rgb(255, 187, 0);
    margin: 0px;
    font-family: "limelight", sans-serif;

}

header {
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: black;


}

. chamada {
    background: rgb(243, 227, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px ;
}

p{
     font-size: 20px;

}

img{
    height: 200px;
} 
. outros videos{


}
.categoria{
    padding-left: 20px;
    padding-fight: 20px;
}