body {
    color: rgb(0, 0, 0);
    background: rgb(255, 187, 0);
    margin: 0px;
    font-family: "limelight", sans-serif;
    margin-bottom: 100px;

}

header {
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: black;


}

.chamada {
    background: rgb(243, 227, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px ;
}

p{
     font-size: 20px;

}


.outros videos{
    display: flex;
    overflow-x: auto;
    gap: 10x;


}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1,0;
    border: 1px solid red;
}

.categoria h2{
    color: white;
}