body{
color: rgb(0, 0, 0);
background: rgb(255, 187, 0);
margin: 0px;

}

header{
border: solid 2px rgb(0, 0, 0);
padding: 20px;
font-size:  32px;
color:black;


}

section{
    background:rgb(243, 227, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}